{% extends 'base.html.twig' %}
{% block stylesheets %}
{{ parent() }}
{% endblock %}


{% block javascripts %}
{{ parent() }}

{% endblock %}
{% block body %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12">
            <h2>Je souhaite sauver des
                vies</h2>
        </div>
        <div class="col-10">
            <h4>Formulaire d'inscription</h4>
            {{ include('inscription/_form.html.twig') }}

        </div>

    </div>
</div>

{% endblock %}